@import 'tailwindcss';
/* @plugin "daisyui";  */
@import 'keen-slider/keen-slider.min.css';

:root {
  --background: #ffffff;
  --foreground: #ffffde;
  --pageformatcolor: #f0fdf4;
}
/* @tailwindcss base;
@tailwindcss components;
@tailwind utilities;  */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

/* Light mode */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
/* Dark mode */
html.dark {
  --background: #87bf8c;
  --foreground: #ecfdf5;
  --pageformatcolor: #8ecaa5;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
