@import "tailwindcss";
/* @plugin "daisyui";  */
@import "keen-slider/keen-slider.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pageformatcolor:#f0fdf4;
  
}
@tailwindcss base;
@tailwindcss components;
@tailwind utilities;

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--pageformatcolor);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* @keyframes slideDown {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.4s ease-out forwards;
} */
