version: "3.8"
services:
#development
  next-dev:
    build:
      context: ./frontend
      target: dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev
  
  # production
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
  next-prod:
    build:
      context: ./frontend
      target: runner
    ports:
      - "3000:3000"

    environment:
      - NODE_ENV=production

    restart: unless-stopped
  # frontend:
  #   build: ./frontend
  #   ports: 
  #     - "3000:3000"
  #   environment:
  #     - NEXT_RENDER_URL
  #   depends_on:
  #     - backend
  
  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
      
