
JWT_SECRET=
RENDER_DB=
NEON_DB=
JWT_REFRESH=
ALGORITHM=
EXPIRE_TIME=

USER_EMAIL=
USER_PASSWORD=
SMTP_HOST=
SMTP_PORT=

CUSTOMER_KEY=
CUSTOMER_SECRET=

ENV=development
ADMIN_JWT_SECRET=

SECRET_KEY=
ENV=dev

AFRICASTALKING_API_KEY=
AFRICASTALKING_USERNAME=
KAI_ROUTE_API_KEY=

FIREBASE_CREDENTIALS_PATH=

MAIL_FROM=
MAIL_PASSWORD=
MAIL_USERNAME=
MAIL_PORT=
MAIL_SERVER=


MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_SHORTCODE=
MPESA_STK_URL=
MPESA_CALLBACK_URL=
MPESA_AUTH_URL=

REDIS_URL_CACHE=redis://127.0.0.1:6379/0
REDIS_URL_BROKER=redis://127.0.0.1:6379/0